# Visual Studio
.vs/
x64/
Debug/
Release/

# Build files
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.idb

# User-specific Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates

# Temporary files
*.tmp
*.temp